# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
openai>=1.0.0
pydantic>=2.0.0
azure-storage-blob
azure-data-tables
requests
python-jose[cryptography]
